* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: black;
    color: #ffffff;
}


#me {
    height: 10%;
}

/* Allowing work section to take up majority of the space*/
#work   {
    height: 80%
}

#contacts {
    height: 10%
}

header {
    padding: 20px;
    background-color: #488078;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

.me-image   {
    display: inline-block;
    margin: 0px auto;
    max-width: 50px;
    justify-content: left;
}

nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}


/* Banner separating header from main section of page */
#hero-image {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/vincentiu-solomon-ln5drpv_ImI-unsplash.png");
    background-size: cover;
    background-position: center;
} 

h2 { 
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 20px;
    clear: both;
    float: left;
    width: 20%;
    height: 100%;
    border-right-style: solid;
    border-color: #7abbb2;
}

h3 {
    margin-bottom: 10px;
    text-align: left; 
    color: #b96ab3;
}

h4 {
    margin-bottom: 10px;
    text-align: right; 
    color: #b96ab3;
}

section {  
    width: 50%;
    display: inline-block;
    margin-left: 20px;
}

/* flex wrap box id within work section of page */
.box {
    display: flex;
    flex-wrap: wrap;
    margin:-10px;
    flex-flow: row-reverse wrap-reverse;
}

/* p   {
    color: #488078;
} */

/* project border */
.projects  {
    border-radius: .25px;
    border-style: solid;
    border-color: #b96ab3;
}

/* project image */
.project-img {
    display: block;
    margin: 10px auto;
    max-width: 200px;
}

.box>* {
    flex: 1 1 160px;
    margin: 10px;
}

footer {
    padding: 30px;
    clear: both;
    text-align: center;
    background-color: #488078;
}

/* adjust layout of screen for responsivness on smaller screens */
@media screen and (max-width: 768px) {
    h2 {
        margin-left: 20px;
        padding: 5px;
        clear: both;
        float: left;
        width: 90%;
        height: 100%;
        border-right-style: none;
        border-bottom-style: solid;
        border-color: #7abbb2;
    }

    #me {
        height: auto;
    }
    
    #work   {
        height: auto;
    }
    
    #contacts {
        height: auto;
    }

    /* TBD code */
    /* on tablets, set columns to only be 50% of the width and not grow */
    /*.card-column {
      flex: 0 0 50%;
      max-width: 50%;
    } */
  
    /* select the last child to grow to full width if it has space to grow */
    /*.card-column:last-child {
      flex-grow: 1;
    }*/
}

/* adjust layout screen for responsivness on a cell phone */
@media screen and (max-width: 360px){
    .box    {
        display: inline-block;
        justify-content: center;
    }
}

/* gradient color for future use */
 /*
    background-color: #d9dcd6;
    background-opacity: 40%;
    background-image: linear-gradient(
    rgba(232, 102, 236, 0.3) 0%,
    rgba(232, 102, 236, 0.6) 100%
    );*/