* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
    background-image: url("pawel-czerwinski-oDNRhpaeVAI-unsplash.jpg");
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 800px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }
p  {
    color: #ffffff;
}

.me {
    height: 10%;
}

.work   {
    height: 80%
}

.contacts {
    height: 10%
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #7abbb2;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

/*
#hero-image {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
} 
*/
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

section {  
    width: 50%;
    display: inline-block;
    margin-left: 20px;
}

aside { 
    margin-left: 20px;
    padding: 20px;
    clear: both;
    float: left;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /*background-color: #7abbb2;*/
    border-right-style: solid;
    border-color: #7abbb2;
    color: #ffffff;
}

.container { 
    margin-bottom: 32px;  
}

h3 {
    margin-bottom: 10px;
    text-align: center; 
}

h6 {
    margin-bottom: 10px;
    text-align: center; 
}

.container  img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.content-description  {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #4c4497;
    color: #ffffff;
}


.content-image {
    max-height: 200px;
}

.content-description h2  {
    margin-bottom: 20px;
    font-size: 36px;
}

.wrapper {
    border: 2px dotted rgb(96, 139, 168);
    
}

.box {
    display: flex;
    flex-wrap: wrap;
    margin:-10px;
    flex-flow: row-reverse wrap-reverse;
}

.projects  {
    background-color: #d9dcd6;
    opacity: 70%;
    background-image: linear-gradient(
    rgba(232, 102, 236, 0.3) 0%,
    rgba(232, 102, 236, 0.6) 100%
  );
}

.box>* {
    flex: 1 1 160px;
    margin: 10px;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: #7abbb2;
}

footer h2 {
    font-size: 20px;
}